---
layout: songbook
---

<section class="mt-15">
    {% set postslist = collections.song %}

    {% for post in postslist %}
        <ul>
            <li class="list-none text-lg">
                <a href="{{ post.url | url }}" class="hover:text-indigo-500">
                    {% if post.data.title %}
                        {{ post.data.title }}
                    {% else %}
                        Untitled
                    {% endif %}
                </a>
            </li>
        </ul>
    {% endfor %}
</section>